html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  background-color: #303030;
}

body {
  margin-bottom: 60px;
  background-color: #303030;
  color: white;
}

td, tr{
    color: white;
}

.deleteButton {
    width: 65px;
    height: 30px;
    background-color: #303030;
    text-align:center;
    font-size:14px;
    margin: 3px;
    border-radius: 8px;
}

.deleteButton:hover {
    transition: 0.3s;
    background-color: #DD3030;

}