@model IEnumerable<Projekt_LaStats.Models.Team>

@{
    ViewData["Title"] = "Teams";
}

<h1>Teams</h1>

<p>
    <a asp-action="AddTeam">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa drużyny
            </th>
            <th>Liga</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <a asp-action="PlayersInTeam" asp-controller="Player" asp-route-id="@item.Id">
                @Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.League.Name)
            </td>
            <td>
                    @using (Html.BeginForm("DeleteTeam", "Team", new { id = item.Id }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <input class="deleteButton" type="submit" value="Usuń" />
                    }
            </td>
        </tr>
}
    </tbody>
</table>
